.icon-inline {
    display: inline-flex;
    margin-right: 5px ;
    float: right ;
}

.readmeMD-filelist {
    border-bottom: 1px solid silver ;
    margin-bottom: 4px ;
    width: 20em ;
}

#readmeMD-filelist input {
    width: 200px ;
}