.readmemd {
	padding: 2em ;
	border-top: 1px solid silver ;
	margin-top: 1em ;
	background-color: #c6d6390f ;
	text-align: initial ;
}

.readmemd::before {
	content:"README.md" !important ;
	color: silver ;
}

.headermd {
	padding: 1em ;
	border-bottom: 1px solid silver ;
	text-align: initial ;
}

.down {
	margin-top:70px ;
}

.headermd ul,
.readmemd ul
{
	list-style: initial ;
}

